<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <br>
        <a href="/logout">로그이웃</a>
        <br>
        <a href="/communityList">글 목록보가</a>
        <br>
        <a href="/findmentor">멘토 찾기</a>
        <br>
        <a href="/applymentees">멘티 수락하기</a>
    </body>
</html>