<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
  </head>
  <body>
      <p style="color: red"><%= message %></p>
    <form action="/login" method="post">
      <input type="email" name="id" placeholder="이메일을 입력해주세요." />
      <input
        type="password"
        name="password"
        placeholder="비밀번호를 입력해주세요"
      />
      <input type="submit" value="로그인" />
      <br>
      <a href="/signup">회원가입하기</a>
    </form>
  </body>
</html>
