<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필보기</title>
</head>
<body>
    <p>아이디: <%= user.id %></p>
    <p>닉네임: <%= user.nickname %></p>
    <% if (user.belong == 'highschool') { %>
        <p>소속: 고등학교</p>
        <p>목표 대학: <%= user.goal %></p>
    <% } else { %>
        <p>소속: <%= user.college %></p>
    <% } %>
    <a href="/home">뒤로 가기</a>
</body>
</html>