<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
    </head>
    <body>
        <%= user.name %>
        <br>
        <a href="/logout">로그이웃</a>
        <br>
        <a href="/createPost">글 작성하기</a>
        <br>
        <a href="/postList">글 목록보가</a>
    </body>
</html>