<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
  </head>
  <body>
    <form action="/signup" method="POST">
      <input name="id" type="text" placeholder="이메일을 입력해주세요." />
      <input
        name="password"
        type="password"
        placeholder="비밀번호를 입력해주세요."
      />
      <input
        name="repassword"
        type="password"
        placeholder="비밀번호를 다시 입력해주세요."
      />
      <input type="submit" value="전송" />
    </form>
  </body>
</html>
